<template>
    <v-container>
        <v-text-field variant="outlined" label="Input Number" v-model="state.num"></v-text-field>
    </v-container>
    <v-container>
        <ul>
            <li v-for="i in 12">
                {{ state.num }} x {{ i }} = {{ i * parseInt(state.num) }}
            </li>
        </ul>
    </v-container>
</template>

<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
    num: "1",
})

</script>