<template>
    <v-card>
        <v-img 
          src="https://i.pinimg.com/originals/6d/38/d9/6d38d9649255aaa808f7d8ead3d1e070.jpg"
        height="200px">
        </v-img>
        <v-card-subtitle>
          1,000 miles of wonder
        </v-card-subtitle>
      </v-card>
</template>