<template>
  <!-- <v-row>
    <v-col>  
     <v-text-field v-model="state.num" label="Input number"> 
     </v-text-field>
     <v-col>
     <v-text-field v-model="state.num" label="Input number"> 
    </v-text-field>
  </v-col>
    <v-col v-for="i in 12">1 x {{ i }} = {{ i * parseInt(state.num)}}</v-col> 
    </v-col>
  
  </v-row> -->
  <V-row>
    <v-container>
    <v-col>
      <v-text-field v-model="state.num" variant="outlined" label="Input number"></v-text-field>
    </v-col>
    <v-col >
      <v-autocomplete v-model="state.opa" variant="outlined" label="Select" :items="['+', '-', 'x', '/']">
      </v-autocomplete>
    </v-col>
    <v-col>
      <v-text-field v-model="state.num1" label="Input number"></v-text-field>
    </v-col>
    <v-col>
      <h1> = </h1>
    </v-col>
    <v-col>
      <h1 v-if="state.num && state.num1"> {{ co }}</h1>
      <h1 v-else>
        กรุณาใส่เลข
      </h1>
    </v-col>
  </v-container>
  </V-row>
  
</template>

<script setup lang="ts">
import { reactive, computed } from 'vue';
const state = reactive({
  num: "",
  num1: "",
  opa: "+",
  result: "",
})

const co = computed(() => {
  let result = 0;
  if (state.opa === '-') {
    result = parseInt(state.num) - parseInt(state.num1)
  } else if (state.opa === '+') {
    result = parseInt(state.num) + parseInt(state.num1)
  } else if (state.opa === 'x') {
    result = parseInt(state.num) * parseInt(state.num1)
  } else if (state.opa === '/') {
    result = parseInt(state.num) / parseInt(state.num1)
  }
  return result;
})


</script>