<script setup lang="ts">
import { ref, onMounted, computed, reactive } from 'vue'

const count = ref(0)
const result = ref(35)
const result1 = ref(0)
function increment() {
    result.value = count.value++ * 35;
}
function decrement() {
    result1.value = count.value-- / 35 ;
}

onMounted(() => {
    console.log(`The initial count is ${count.value}.`)
})

const state1 = reactive({
    num: '45',
    result: "",
})
const co = computed(() => {
    let result = 0;
    return result;
})


</script>

<template>
    <v-container>
        <v-card class="mx-auto" width="900" prepend-icon="mdi-store">
            <v-img class="align-end text-white" height="200"
                src="https://i.pinimg.com/564x/4e/07/27/4e0727bac27cb970e7e5c0a17883eceb.jpg" cover>
                <v-card-title>Hello world</v-card-title>
            </v-img>

            <template v-slot:title>
                หน้าจอขาย
            </template>
            <v-container>

                <v-btn variant="outlined">
                    อาหาร
                </v-btn>
                <v-btn variant="outlined">
                    เครื่องดื่ม
                </v-btn>

                <v-row class="mx-auto">
                    <v-col class="mx-auto"><v-card class="v1" max-width="200">
                            <v-img height="150"
                                src="https://i.pinimg.com/736x/f1/76/67/f176670465fb98264ac10f51f463e6ad.jpg"></v-img>
                            <v-card-title class="text-center" style="font-size: 20px">
                                <v-text>กะเพาะปลา </v-text>
                            </v-card-title>

                        </v-card>

                    </v-col>

                </v-row>
                <v-col class="mx-auto">
                    <v-card class="v1" max-width="200">
                        <v-img height="150"
                            src="https://i.pinimg.com/736x/f1/76/67/f176670465fb98264ac10f51f463e6ad.jpg"></v-img>
                        <v-card-title class="text-center" style="font-size: 20px">
                            <v-text>ข้าวมันไก่ </v-text>
                        </v-card-title>
                        <v-col align="center">
                            <v-text> ราคา 35$ </v-text>
                        <v-col align="center">
                            <v-text> ประเภทต้ม </v-text>
                        </v-col>
                    </v-col>
                        <v-col align="center" cols="auto">
                            <v-dialog transition="dialog-bottom-transition">
                                <template v-slot:activator="{ props }">
                                    <v-btn color="green" v-bind="props">กดสั่ง</v-btn>
                                </template>
                                <template v-slot:default="{ isActive }">
                                    <v-card :loading="loading" class="mx-auto my-12" max-width="600">
                                        <template v-slot:loader="{ isActive }">
                                            <v-progress-linear :active="isActive" color="deep-purple" height="10"
                                                indeterminate></v-progress-linear>
                                        </template>

                                        <v-img cover height="240"
                                            src="https://i.pinimg.com/564x/f1/76/67/f176670465fb98264ac10f51f463e6ad.jpg"></v-img>

                                        <v-card-item>
                                            <v-card-title>ข้าวมันไก่</v-card-title>

                                            <v-card-subtitle>
                                                <span class="mr-1">ประเภทต้ม</span>
                                            </v-card-subtitle>
                                            
                                        </v-card-item>

                                        <v-card-text>
                                            <v-row align="center" class="mx-0">

                                            </v-row>

                                            <div class="my-4 text-subtitle-1">
                                            </div>
                                            <v-col align="left">
                                                <v-text > {{ result }}</v-text>
                                             
                                            </v-col>

                                            <v-btn color="green" variant="plain" @click="increment">+ Add</v-btn>
                                            <v-text> {{ count}}</v-text>
                                            <v-btn color="error" variant="plain" @click="decrement"> - Reduce</v-btn>
                                           
                                            
                                        </v-card-text>

                                        <v-divider class="mx-4 mb-1"></v-divider>

                                        <v-card-title>Tonight's availability</v-card-title>
                                        <v-list lines="two" subheader>

                                        </v-list>
                                        <v-divider></v-divider>
                                        <div class="px-2">
                                            <v-list lines="two" subheader>
                                                <v-list-subheader>General</v-list-subheader>
                                                <v-list-item title="ไข่"
                                                    subtitle="ใส่ไข่เพิ่ม 5 บาท ถ้าใส่มากกว่านี้แนะนำให้ไปซื้อกินเองงงงงงงงงง">
                                                    <template v-slot:prepend>
                                                        <v-checkbox v-model="egg"></v-checkbox>
                                                    </template>
                                                </v-list-item>
                                                <v-list-item title="มะเขือเทศ" subtitle="ใส่มะเขือเพิ่ม 10 บาท">
                                                    <template v-slot:prepend>
                                                        <v-checkbox v-model="tomato"></v-checkbox>
                                                    </template>
                                                </v-list-item>
                                                <v-list-item title="หมู" subtitle="ใส่เนื้อหมู เพิ่ม 100 บาท">
                                                    <template v-slot:prepend>
                                                        <v-checkbox v-model="widgets"></v-checkbox>
                                                    </template>

                                                </v-list-item>
                                            </v-list>
                                        </div>
                                        <v-form>
                                            <v-container>
                                                <v-row>
                                                    <v-col cols="12">
                                                        <v-text-field v-model="message"
                                                            :append-outer-icon="message ? 'mdi-send' : 'mdi-microphone'"
                                                            :prepend-icon="icon" filled clear-icon="mdi-close-circle"
                                                            clearable label="Message" type="text"
                                                            @click:append-outer="sendMessage"
                                                            @click:prepend="changeIcon"
                                                            @click:clear="clearMessage"></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-card-actions class="justify-end">
                                                        <v-btn
                                                        color="red-darken-1"
                                                          variant="text"
                                                          @click="isActive.value = false"
                                                        >ยกเลิก</v-btn>
                                                      </v-card-actions>
                                                    <v-card-actions class="justify-end">
                                                        <v-btn
                                                        color="green-darken-1"
                                                          variant="text"
                                                          @click="isActive.value = false"
                                                        >ยืนยัน</v-btn>
                                                      </v-card-actions>
                                                </v-card-actions>
                                            </v-container>
                                        </v-form>
                                    </v-card>

                                </template>
                            </v-dialog>
                        </v-col>
                    </v-card>
                </v-col>
                <!-- </v-col>
                            <v-btn color="green" variant="plain"  @click="increment" >+ Add</v-btn>
                            <v-btn color="error" variant="plain" @click="decrement"> - Reduce</v-btn>
                        </v-card>

                    </v-col> -->
            </v-container>
        </v-card>

    </v-container>
</template>

<style scoped>

</style>