<template>
  <v-app-bar flat>
    <v-app-bar-title>
      <v-icon icon="mdi-circle-slice-4" />

      Base Preset
    </v-app-bar-title>
    
    <router-link to="/">Mint</router-link>
    <router-link to="/jent">Jent</router-link>
    <router-link to="/face">face</router-link>
    <router-link to="/pos">pos</router-link>
  </v-app-bar>
</template>

<script lang="ts" setup>
  //
</script>
